#background {
    background-color: rgba(240, 193, 154, 0.842);
}

.image {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.link {
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 15px;
    list-style-type: none;
}

.sub-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(5, 41, 5);
    text-align: center;
    text-decoration: underline;
}

.text {
    text-align: center;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.points {
    list-style-type: none;
}